.App {
  text-align: center;

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.RouteData {
  width: 90%;
  overflow: auto;
  padding: 10px;
  margin: 10px;
}
